.order-details {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.order-info {
  margin: 20px 0;
}

.order-items {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.item-image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.accept-order-button {
  background-color: #ff8c00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
