.product-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  width: 175px;
  background-color: #dedbdb85;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.edit-product-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
}

.edit-product-button:hover {
  background-color: #0056b3;
}

.product-details {
  margin-top: 16px;
}

.product-title {
  font-size: 18px;
  margin: 0;
}

.product-description {
  font-size: 14px;
  color: #555;
}

.product-cost-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-cost {
  font-size: 16px;
  font-weight: bold;
}

.change-cost-button,
.save-cost-button {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.change-cost-button:hover,
.save-cost-button:hover {
  background-color: #0056b3;
}

.product-cost-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
